<aside class="sidebar" aria-label="Sidenav">
    <div class="sidebar-navigation">
        <ul class="sidebar-items">
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <span class="material-symbols-outlined nav-icon">overview</span>
                    <span>Overview</span>
                </a>
            </li>
            <li class="sidebar-item">
                <button type="button" class="dropdown-btn" aria-controls="dropdown-pages" data-collapse-toggle="dropdown-pages">
                    <span class="material-symbols-outlined nav-icon">note</span>
                    <span>Pages</span>
                    <span class="material-symbols-outlined nav-icon expand">expand_more</span>
                </button>
                <ul>
                    <li class="sidebar-subitem">
                        <a href="#" class="sidebar-link">Settings</a>
                    </li>
                    <li class="sidebar-subitem">
                        <a href="#" class="sidebar-link">Calendar</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <button type="button" class="dropdown-btn" aria-controls="dropdown-pages" data-collapse-toggle="dropdown-pages">
                    <span class="material-symbols-outlined nav-icon">note</span>
                    <span>Pages</span>
                    <span class="material-symbols-outlined nav-icon expand">expand_more</span>
                </button>
            </li>
        </ul>
    </div>
    <div class="sidebar-settings"></div>
</aside>