<div class="sidebar" aria-label="Sidenav">
  <div id="sidebar-menu" class="sidebar-menu">
    <ul>
      <li class="submenu-open">
        <h6 class="submenu-hdr">Accueil</h6>
        <ul>
          <li>
            <a href="{% url 'school:dashboard' %}">
              <span class="material-symbols-outlined">grid_view</span>
              <span>Tableau de Bord</span>
            </a>
          </li>
          <li class="submenu">
            <a href="#" class="dropdown-btn">
              <span class="material-symbols-outlined">ad_units</span>
              <span>Applications</span>
              <span class="menu-arrow"></span>
            </a>
            <ul>
              <li><a href="#">Messagerie</a></li>
              <li><a href="#">Email</a></li>
            </ul>
          </li>
        </ul>
      </li>
      {% if user.profile.role == 'admin' %}
      <li class="submenu-open">
        <h6 class="submenu-hdr">Gestion des utilisateurs</h6>
        <ul>
          <li class="submenu">
            <a href="#" class="dropdown-btn">
              <span class="material-symbols-outlined">group</span>
              <span>Utilisateurs</span>
              <span class="menu-arrow"></span>
            </a>
            <ul>
              <li>
                <a href="{% url 'users:new' %}">Ajouter un utilisateur</a>
              </li>
              <li>
                <a href="{% url 'users:list' %}">Liste des utilisateurs</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="submenu-open">
        <h6 class="submenu-hdr">Etablissement</h6>
        <ul>
          <li class="submenu">
            <a href="#" class="dropdown-btn">
              <span class="material-symbols-outlined"> square_foot </span>
              <span>Matières</span>
              <span class="menu-arrow"></span>
            </a>
            <ul>
              <li><a href="{% url 'school:matiere_create' %}">Ajouter une matière</a></li>
              <li>
                <a href="{% url 'school:matiere_list' %}">Liste des matières</a>
              </li>
            </ul>
          </li>
          <li class="submenu">
            <a href="#" class="dropdown-btn">
              <span class="material-symbols-outlined"> diversity_3 </span>
              <span>Classes</span>
              <span class="menu-arrow"></span>
            </a>
            <ul>
              <li><a href="{% url 'school:classe_create' %}">Ajouter une classe</a></li>
              <li>
                <a href="{% url 'school:classe_list' %}">Liste des classes</a>
              </li>
            </ul>
          </li>
          <li class="submenu">
            <a href="#" class="dropdown-btn">
              <span class="material-symbols-outlined"> school </span>
              <span>Elèves</span>
              <span class="menu-arrow"></span>
            </a>
            <ul>
              <li><a href="{% url 'school:student_create' %}">Ajouter un élève</a></li>
              <li>
                <a href="{% url 'school:student_list' %}">Liste des élèves</a>
              </li>
            </ul>
          </li>
          <li class="submenu">
            <a href="#" class="dropdown-btn">
              <span class="material-symbols-outlined"> skillet </span>
              <span>Sequences</span>
              <span class="menu-arrow"></span>
            </a>
            <ul>
              <li><a href="{% url 'school:sequence_create' %}">Ajouter une sequence</a></li>
              <li>
                <a href="{% url 'school:sequence_list' %}">Liste des sequences</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      {% endif %}
      <li class="submenu-open">
        <h6 class="submenu-hdr">Paramètres</h6>
        <ul>
          <li class="submenu">
            <a href="#" class="dropdown-btn">
              <span class="material-symbols-outlined">settings</span>
              <span>Paramètres</span>
              <span class="menu-arrow"></span>
            </a>
            <ul>
              <li><a href="#">Réglages généraux</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <span class="material-symbols-outlined">logout</span>
              <span>Se déconnecter</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
