<div class="sidebar" aria-label="Sidenav">
  <div id="sidebar-menu" class="sidebar-menu">
    <ul>
      <li class="submenu-open">
        <h6 class="submenu-hdr">Accueil</h6>
        <ul>
          <li>
            <a href="{% url 'school:dashboard' %}">
              <span class="material-symbols-outlined">grid_view</span>
              <span>Tableau de Bord</span>
            </a>
          </li>
          <li class="submenu">
            <a href="#" class="dropdown-btn">
              <span class="material-symbols-outlined">ad_units</span>
              <span>Applications</span>
              <span class="menu-arrow"></span>
            </a>
            <ul>
              <li><a href="#">Messagerie</a></li>
              <li><a href="#">Email</a></li>
            </ul>
          </li>
        </ul>
      </li>
      {% if user.profile.role == 'admin' %}
      <li class="submenu-open">
        <h6 class="submenu-hdr">Gestion des utilisateurs</h6>
        <ul>
          <li class="submenu">
            <a href="#" class="dropdown-btn">
              <span class="material-symbols-outlined">group</span>
              <span>Utilisateurs</span>
              <span class="menu-arrow"></span>
            </a>
            <ul>
              <li><a href="{% url 'users:new' %}">Nouvel utilisateur</a></li>
              <li>
                <a href="{% url 'users:list' %}">Liste des utilisateurs</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      {% endif %}
      <li class="submenu-open">
        <h6 class="submenu-hdr">Paramètres</h6>
        <ul>
          <li class="submenu">
            <a href="#" class="dropdown-btn">
              <span class="material-symbols-outlined">settings</span>
              <span>Paramètres</span>
              <span class="menu-arrow"></span>
            </a>
            <ul>
              <li><a href="#">Réglages généraux</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <span class="material-symbols-outlined">logout</span>
              <span>Se déconnecter</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
