{% extends "school/_base.html" %} {% load static %} {% block details %}
<div class="page-header">
  <div class="page-title">
    <h4>Liste des classes</h4>
    <h6>Gérer vos classes</h6>
  </div>
  <div class="page-btn">
    <a href="{% url 'school:classe_create' %}" class="submit-btn">Ajouter une classe</a>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Label</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
          <tr>
            <th>{{object.label}}</th>
            <td>
              <a href="{% url 'school:classe_update' object.pk %}">
                <img src="{% static '/school/images/edit.svg' %}" alt="edit" />
              </a>
              <a href="{% url 'school:classe_delete' object.pk %}">
                <img
                  src="{% static '/school/images/delete.svg' %}"
                  alt="edit"
                />
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
