@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --clr-white: #ffffff;
  --clr-grey-5: #fcfafa;
  --clr-grey-10: #f1f1f1;
  --clr-grey-25: #dcdcdc;
  --clr-grey-50: #c4c4c4;
  --clr-grey-100: #a7a7a7;
  --clr-grey-200: #8a8a8a;
  --clr-grey-300: #6c6c6c;
  --clr-grey-400: #4f4f4f;
  --clr-grey-500: #424242;
  --clr-grey-600: #353535;
  --clr-grey-700: #282828;
  --clr-grey-800: #1a1a1a;
  --clr-grey-900: #101010;

  --clr-green-01: #2ca01c;
  --clr-green-04: #19860b;

  --font-family-default: "Inter", sans-serif;
  --font-family-kumbh: "Kumbh Sans", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;

  --fs-400: 1.125rem;
  /* --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 5rem; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

a,
div {
  outline: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  cursor: pointer;
}

body {
  height: 100%;
  font-family: var(--font-family-default);
  font-size: var(--fs-400);
}
