@import url("../../../../static/css/styles.css");

/************************
****---- SIDEBAR ----****
************************/
.sidebar {
  position: fixed;
  top: 3.75rem;
  left: 0;
  z-index: 40;
  width: 15rem;
  height: calc(100svh - 3.5rem);
}

/** Sidebar Navigation **/
.sidebar .sidebar-menu {
  overflow-y: auto;
  padding: 1.25rem;
  height: 100%;
  background: var(--clr-white);
  border-right: 1px solid rgba(222, 226, 230, 0.5);
}

.sidebar .sidebar-menu > ul > li {
  margin-bottom: 10px;
}

.sidebar .sidebar-menu > ul > li.submenu-open .submenu-hdr {
  font-weight: 500;
  font-size: 0.875rem;
  color: #1b2950;
  margin: 15px 0 0;
}

.sidebar .sidebar-menu > ul > li.submenu-open ul {
  border-bottom: 1px solid rgba(222, 226, 230, 0.5);
  padding: 0.625em 0;
}

.sidebar .sidebar-menu > ul > li.submenu-open ul li a {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 500;
  font-size: 1rem;
  color: #67748e;
  padding: 0.5em 0.938em;
  transition: color 0.15s ease-in-out;
}

.sidebar .sidebar-menu > ul > li.submenu-open ul li a:hover {
  color: #fe9f43;
}

.sidebar .sidebar-menu > ul > li.submenu-open ul > li.active a {
  background: rgba(254, 159, 67, 0.08);
  border-radius: 5px;
  color: #fe9f43;
}

/* .sidebar .sidebar-menu > ul > li.submenu-open ul li a.active {
  color: #ff9f43;
} */

.sidebar .sidebar-menu > ul > li svg {
  width: 18px;
  margin-right: 10px;
}

/** may be should be deleted **/

.sidebar .sidebar-menu .menu-arrow {
  position: absolute;
  top: 0.75rem;
  right: 0.938rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-rendering: auto;
  font-size: 1.125rem;
  line-height: 1.125rem;
  background: rgba(27, 41, 80, 0.04);
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.sidebar .sidebar-menu .menu-arrow::before {
  content: "";
  height: 5px;
  width: 5px;
  border-right: 1px solid #67748e;
  border-bottom: 1px solid #67748e;
  margin-left: -1.5px;
  transform: rotate(-45deg);
}

/***--- sub-menu ---***/
.sidebar .sidebar-menu > ul > li.submenu-open .submenu ul {
  display: none;
  border: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.sidebar .sidebar-menu .submenu-open .submenu ul li a {
  margin-left: 25px;
  transition: color 0.15s ease-in-out;
}

.sidebar .sidebar-menu .submenu-open .submenu ul li a::after {
  content: "";
  background: rgba(50, 71, 92, 0.38);
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  border-radius: 50px;
  position: absolute;
  top: 16px;
  left: 0;
  transition: all 0.15s ease-in-out;
}

.sidebar .sidebar-menu > ul > li.submenu-open ul li a:hover:after,
.sidebar .sidebar-menu > ul > li.submenu-open ul li.active a:after {
  background: #fe9f43;
  border: 2px solid #fdb;
}

.sidebar .sidebar-menu .submenu-open .submenu ul li.active a {
  background: none;
  color: #fe9f43;
}

/********************************
*****---- TOP NAVIGATION ----*****
*********************************/

/***-------1. HEADER-LEFT -------***/
.header {
  background: #fff;
  border-bottom: 1px solid #dee2e6;
  height: 3.75rem;
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.header .header-left {
  float: left;
  position: relative;
  width: 15rem;
  height: 100%;
  padding: 0 1.063rem;
  display: flex;
  align-items: center;
  border-right: 1px solid #dee2e6;
}

.header .header-left .logo img {
  height: 2.3rem;
}

.header-left #toggle_btn {
  position: absolute;
  right: -13px;
  width: 25px;
  height: 25px;
  background: #ff9f43;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}

.header-left #toggle_btn:hover {
  background: #fe820e;
}

.header-left #toggle_btn svg {
  width: 16px;
}

/***-------2. HEADER-RIGHT (USER MENU) -------***/
.nav {
  display: flex;
  align-items: center;
  /* position: relative; */
  padding-right: 15px;
  height: 100%;
}

.user-menu > li {
  margin-left: 1.125rem;
}

.user-menu .nav-searchinputs {
  margin-right: auto;
}

.user-menu.nav > li > a {
  display: flex;
  line-height: normal;
  color: #212b36;
}

.user-menu.nav > li > a .badge {
  position: absolute;
  top: -7px;
  right: -7px;
  color: #fff;
  background: #ff9f43;
  border: 2px solid #fff;
  width: 20px;
  height: 20px;
  font-weight: 700;
  font-size: 10px;
  border-radius: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-menu .nav-item-box > a {
  background: #f6f7f8;
  border-radius: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.user-menu > li svg {
  width: 18px;
  color: #67748e;
}

.user-menu > li a:hover svg {
  color: #ff9f43;
}

/*****---- 2.1 User Info -----****/
.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 30px 0 0;
}

.user-info .user-letter {
  background: #1b2950;
  color: #fff;
  width: 42px;
  height: 42px;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  margin-right: 10px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.user-info .user-name {
  font-size: 15px;
  font-weight: 600;
  color: #1b2950;
  display: flex;
  align-items: center;
}

.user-info .user-role {
  display: block;
  color: #67748e;
  font-size: 12px;
}

.user-info::after {
  content: "";
  width: 8px;
  height: 8px;
  border-top: 0;
  border-left: 0;
  border-right: 2px solid #1b2950;
  border-bottom: 2px solid #1b2950;
  border-radius: 1px;
  transform: rotate(45deg);
  transition: all 0.5s;
  top: 8px;
  position: absolute;
  right: 12px;
}

/*****---- 2.2 User Info (drop-down section) -----****/
.nav-profile {
  position: fixed;
  display: none;
  top: 3.75rem;
  right: 30px;
  width: 150px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.nav-profile .dropdown-item,
.nav-profile form button {
  color: #637381;
  padding: 7px 10px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.nav-profile form button {
  color: #ea5455;
}

.nav-profile form button {
  width: 100%;
}

.nav-profile .dropdown-item:hover,
.nav-profile form button:hover {
  background-color: #7b868f30;
}

.nav-profile .dropdown-item svg,
.nav-profile form img {
  stroke-width: 1px;
  margin-right: 8px;
  width: 18px;
}

/***************************
*****---- DASHBOARD ----****
***************************/
.page-content {
  width: calc(100% - 15rem);
  margin-left: auto;
  padding: 5.313rem 1.563rem 1.563rem;
  height: 100vh;
  color: var(--clr-grey-400);
  background-color: #fafbfe;
}

.page-header {
  margin-bottom: 1.563em;
}

.page-header h4 {
  font-weight: 700;
  color: #212b36;
  font-size: 1.125rem;
}

.page-header h6 {
  font-weight: 400;
  color: #555;
  font-size: 0.875rem;
}

.card {
  border: 1px solid #e8ebed;
  border-radius: 6px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}

.card .card-body {
  padding: 1.25em;
}

/***---- FORM STYLES ----***/
.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.form-group div {
  display: grid;
}

.form-group label {
  margin-bottom: 8px;
  color: #212b36;
  font-weight: 500;
  font-size: 14px;
  display: block;
}

.form-group .helptext {
  display: none;
}

.form-group input {
  padding: 0.3em 0.6em;
  border: 1px solid rgba(145, 158, 171, 0.32);
  font-weight: var(--fw-regular);
  line-height: 1.8em;
  font-size: 0.95rem;
  margin-bottom: 0.7em;
  border-radius: 0.25rem;
  color: #637381;
  transition: border 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-group input:focus {
  border-color: #ff9f43;
  outline: none;
}

.form-group input:focus {
  outline: none;
}

/***----- PROFILE PAGE ----***/
.profile-set {
  margin-bottom: 1.875em;
}

.profile-set .profile-head {
  height: 109px;
  background: linear-gradient(90deg, #ea5455 0%, #ff9f43 100%);
  border-radius: 0 10px 0 0;
}

.profile-top,
.profile-content {
  display: flex;
  align-items: center;
}

.profile-set .profile-top .profile-contentimg {
  margin-top: -40px;
  width: 130px;
  position: relative;
  border: 10px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.profile-set .profile-top .profile-contentimg img {
  border-radius: 50px;
}

.profile-set .profile-top .profile-contentname {
  padding-left: 20px;
}

.profile-set .profile-top .profile-contentname h2 {
  font-size: 18px;
  color: #212b36;
  font-weight: 700;
}

.profile-set .profile-top .profile-contentname h4 {
  color: #777;
  font-size: 14px;
}
