{% extends "users/_base.html" %} 

{% block content %}
<main>
    <h1 class="section-title">Bienvenue, Connectez-vous !</h1>
    <div class="form-wrapper">
        <h2>C'est un grand plaisir de vous accueillir à bord !</h2>
        <form method="post">
            {% csrf_token %}
            {{form}}
            <button type="submit" class="submit-btn">
                <span class="material-symbols-outlined">lock</span>
                <span>Se connecter</span>
            </button>
        </form>
        <p>Vous n'avez pas de compte ? <a href="{% url 'school:school_create' %}">Ouvrir un compte</a></p>
    </div>
</main>
{% endblock %}
