{% extends "users/base.html" %}

{% block content %}
<div class="login-wrapper">
    <h1 class="section-title">Bienvenue, Connectez-vous !</h1>
    <div class="form-wrapper">
        <h2>C'est un grand plaisir de vous accueillir à bord !</h2>
        <form method="post">
            {% csrf_token %}
            {{form}}
            <button type="submit">Se connecter</button>
        </form>
        <p>Vous n'avez pas de compte ? <a href="{% url 'create_school' %}">Ouvrir un compte</a></p>
    </div>
</div>
{% endblock %}