{% extends "school/_base.html" %}

{% load static %}

{% block details %}
<div class="page-header">
    <div class="page-title">
        <h4>Profil</h4>
        <h6>Details profil</h6>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="profile-set">
            <div class="profile-head"></div>
            <div class="profile-top">
                <div class="profile-content">
                    <div class="profile-contentimg">
                        <img src="{{user.profile.image.url}}" alt="avatar">
                    </div>
                    <div class="profile-contentname">
                        <h2>{{user.username|title}}</h2>
                        <h4>Mettre à jour vos informations</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{u_form}}
                    {{p_form}}
                </div>
                <div class="btn-group">
                    <button type="submit" class="submit-btn">Mettre a jour</button>
                    <a href="{% url 'school:dashboard' %}" class="cancel-btn">Annuler</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}