@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --clr-white: #ffffff;
  --clr-grey-5: #fcfafa;
  --clr-grey-10: #f1f1f1;
  --clr-grey-25: #dcdcdc;
  --clr-grey-50: #c4c4c4;
  --clr-grey-100: #a7a7a7;
  --clr-grey-200: #8a8a8a;
  --clr-grey-300: #6c6c6c;
  --clr-grey-400: #4f4f4f;
  --clr-grey-500: #424242;
  --clr-grey-600: #353535;
  --clr-grey-700: #282828;
  --clr-grey-800: #1a1a1a;
  --clr-grey-900: #101010;

  --clr-green-01: #2ca01c;
  --clr-green-04: #19860b;

  --font-family-default: "Inter", sans-serif;
  --font-family-kumbh: "Kumbh Sans", sans-serif;

  --fs-400: 1.125rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

a,
div {
  outline: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  height: 100%;
  font-family: var(--font-family-default);
  font-size: var(--fs-400);
}
