{% load static %}
<!DOCTYPE html>
<html class="wp-toolbar" lang="fr-FR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Application scolaire</title>

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              gray01: "rgb(244, 245, 248)",
              gray02a: "rgba(57,58,61,.1)",
              gray02: "rgb(212, 215, 220)",
              gray03: "rgb(141, 144, 150)",
              gray04: "rgb(107,108,114)",

              green01: "rgb(83, 183, 0)",
              green02: "rgb(44, 160, 28)",
              green03: "rgb(37, 143, 29)",

              black01: "rgb(57, 58, 61)",
              black02: "rgb(51, 51, 51)",
              black03: "rgb(40, 40, 40)",
              blue01: "#0077c5",
            },
            boxShadow: {
              btn: "0 0 0 2px rgb(255, 255, 255)",
              search: "0 0 0 2px rgba(44, 160, 28, 0.5)",
              input: "0 0 2px 2px rgba(44, 160, 28, 0.15)",
              box: "1px 1px 12px 2px rgba(161, 161, 161, 0.25)",
            },
          },
        },
      };
    </script>

    <!-- Boxicons CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- Google fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static '/styles.css/' %}" />
    {% block styles %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
