{% extends "users/_base.html" %} 

{% block content %}
<main>
  <h1 class="section-title">Créer votre compte scolaire.</h1>
  <div class="form-wrapper">
    <h2>C'est un grand plaisir de vous accueillir à bord !</h2>
    <form method="post">
      {% csrf_token %} {{form}}
      <button type="submit" class="submit-btn">
        <span class="material-symbols-outlined">how_to_reg</span>
        <span>Créer le compte</span>
      </button>
    </form>
    <p>
      Avez-vous deja un compte ? <a href="{% url 'login' %}">Se connecter</a>
    </p>
  </div>
</main>
{% endblock %}
