@import url("../../../../static/css/styles.css");

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--clr-gray-50);
}

.main {
  display: grid;
}

/*--- login styles ---*/
.section-title {
  color: var(--clr-gray-600);
  font-size: 1.6rem;
  font-family: var(--font-family-kumbh);
  font-weight: var(--fw-medium);
  line-height: 1.5em;
  margin-bottom: 1em;
  text-align: center;
}

.form-wrapper {
  background-color: var(--clr-white);
  justify-self: center;
  padding: 1.7em 1.5em;
  max-width: 17em;
  margin: 0 auto;
}

.form-wrapper h2 {
  font-size: .9rem;
  font-weight: var(--fw-regular);
  color: rgb(57, 58, 61);
  line-height: 1.2em;
  text-align: center;
}

.form-wrapper p {
  font-size: 0.82rem;
  font-weight: var(--fw-regular);
  color: rgb(104, 105, 107);
  line-height: 1.2em;
  text-align: center;
}

.form-wrapper a {
  color: #0875ce;
  text-decoration: none;
}

.form-wrapper a:hover {
  text-decoration: underline;
}

.form-wrapper form {
  margin: 1em 0;
}

.form-wrapper input,
.form-wrapper button {
  width: 100%;
}

.form-wrapper input {
  padding: 0.12em 0.5em;
  border: 1px solid var(--clr-gray-200);
  font-weight: var(--fw-regular);
  line-height: 1.8em;
  font-size: 0.95rem;
  margin-bottom: 0.7em;
  border-radius: 0.25rem;
  color: var(--clr-gray-700);
  transition: border 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-wrapper input:hover,
.form-wrapper input:focus {
  border-color: var(--clr-secondary-400);
  box-shadow: 0 0 5px var(--clr-secondary-100);
  outline: none;
}

.form-wrapper input:focus {
  outline: none;
}

.form-wrapper input::-webkit-input-placeholder {
  font-size: 0.9rem;
  font-weight: var(--fw-regular);
  font-family: var(--font-family-kumbh);
}

:-moz-placeholder {
  /* For Firefox */
  font-size: 0.9rem;
  font-weight: var(--fw-regular);
  font-family: var(--font-family-kumbh);
}

::-moz-placeholder {
  /* For Firefox */
  font-size: 0.9rem;
  font-weight: var(--fw-regular);
  font-family: var(--font-family-kumbh);
}

:-ms-input-placeholder {
  /* For Microsoft Edge */
  font-size: 0.9rem;
  font-weight: var(--fw-regular);
  font-family: var(--font-family-kumbh);
}

.form-wrapper button {
  cursor: pointer;
}
