@import url("../../../../static/styles.css");

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--clr-grey-5);
}

.login-wrapper {
  display: grid;
}

.section-title {
  color: var(--clr-grey-400);
  font-size: 1.5rem;
  font-family: var(--font-family-kumbh);
  font-weight: var(--fw-medium);
  line-height: 2em;
  margin-bottom: 1em;
  text-align: center;
}

.form-wrapper {
  background-color: var(--clr-white);
  justify-self: center;
  padding: 3em 4em;
  max-width: 22em;
}

.form-wrapper h2 {
  font-size: 0.875rem;
  font-weight: var(--fw-regular);
  color: rgb(57, 58, 61);
  line-height: 1.2em;
  text-align: center;
}

.form-wrapper p {
  font-size: 0.72rem;
  font-weight: var(--fw-regular);
  color: rgb(104, 105, 107);
  line-height: 1.2em;
  text-align: center;
}

.form-wrapper a {
  color: #0875ce;
  text-decoration: none;
}

.form-wrapper a:hover {
  text-decoration: underline;
}

.form-wrapper form {
  margin: 1em 0;
}

.form-wrapper input,
.form-wrapper button {
  width: 100%;
}

.form-wrapper input {
  padding: 0.15em 0.7em;
  border: 1px solid var(--clr-grey-200);
  font-weight: var(--fw-regular);
  line-height: 1.8em;
  font-size: 0.9rem;
  margin-bottom: 0.7em;
}

.form-wrapper input:focus {
  outline: none;
}

.form-wrapper input::-webkit-input-placeholder {
  font-size: 0.875rem;
  font-weight: var(--fw-regular);
  font-family: var(--font-family-kumbh);
}

:-moz-placeholder {
  /* For Firefox */
  font-size: 0.875rem;
  font-weight: var(--fw-regular);
  font-family: var(--font-family-kumbh);
}

::-moz-placeholder {
  /* For Firefox */
  font-size: 0.875rem;
  font-weight: var(--fw-regular);
  font-family: var(--font-family-kumbh);
}

:-ms-input-placeholder {
  /* For Microsoft Edge */
  font-size: 0.875rem;
  font-weight: var(--fw-regular);
  font-family: var(--font-family-kumbh);
}

.form-wrapper button {
  cursor: pointer;
}
